.div_do_titulo {
    width: 7.5rem;
    height: 1.625rem;
    background-color: var(--white-bg);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.div_do_titulo h1 {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
}

.main_form {
    background-color: var(--white-bg);
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 16px;
    max-width: 800px;
    color: var(--cinza);
    border-radius: 8px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
}

.informacoes {
    display: flex;
    flex-direction: column;
}

.informacoes label {
    margin-left: 1rem;
    font-weight: 600;
}

.informacoes>input,
.informacoes select {
    background-color: var(--input-background);
    border-radius: 50px;
    padding: 8px 0 8px 16px;
    width: 100%;
    margin-top: 0.25rem;
}

.informacoes>input:focus,
.informacoes select:focus {
    outline: 2px solid var(--button-bg-pressed);
}

.botao {
    color: var(--button-font);
    margin: 0 auto;
}

.botao input {
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: var(--button-bg-enable);
    border-radius: 2px;

}

.botao input:hover {
    background-color: var(--hover);

}

.error {
    font-size: 0.75rem;
    margin: 10px 0 0 20px;
    color: var(--button-bg-pressed);
    font-weight: 700;
    font-size: 15px;

}