header {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--white-bg);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;

    padding: 1rem 0;

}

#burger-menu__checkbox {
    position: relative;
    display: none;
}

.burger-menu__container {
    width: 100%;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.burger-menu__back {
    width: 30px;
    height: 22px;

    display: flex;
    align-items: center;
}

.cx-branca {
    background: inherit;
    width: 30px;
    height: 22px;
    margin: calc(auto - 30px);
}

/* Menu Hamburguer */
.burger-menu__container label {
    /* justify-self: end; */
    position: relative;
    width: 30px;
    height: 22px;

}

.burger-menu__container label span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #565657;
    border-radius: 30px;
    transition: .4s ease-in-out;
}

.burger-menu__container label span:nth-child(1) {
    top: 0;
}

.burger-menu__container label span:nth-child(2) {
    top: 8px;
}

.burger-menu__container label span:nth-child(3) {
    top: 16px;
}

/* Menu Hamburguer > "X" */
#burger-menu__checkbox:checked+.burger-menu__container label span:nth-child(1) {
    transform: rotate(-225deg);
    top: 8px;
}

#burger-menu__checkbox:checked+.burger-menu__container label span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}

#burger-menu__checkbox:checked+.burger-menu__container label span:nth-child(3) {
    transform: rotate(225deg);
    top: 8px;
}

.img {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-self: end; */
}

/* Menu */
.burger-menu__list {
    display: flex;
    height: 0;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    overflow: hidden;
    transition: .4s ease-in-out;
    opacity: 0;
}

.burger-menu__list li a {
    text-decoration: none;
    color: #797979;
}

/* Abrir o menu ao dar checked no input*/
#burger-menu__checkbox:checked~.burger-menu__list {
    margin-top: 1rem;
    height: 85px;
    opacity: 1;
}

/* Efeito underline */
.burger-menu__list li {
    display: inline-block;
    position: relative;
}

.burger-menu__list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30%;
    background: #B2F6CD;

    bottom: 0;
    left: 0;
    /* transform: scale(0); */
    transform-origin: bottom left;
    transition: all .25s ease-in-out;
}

.burger-menu__list li:hover::before {
    width: 100%;
    transform-origin: bottom left;
}