

* {
    margin: 0; 
    padding: 0; 
    border: none; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #DEE2F3;
    background-image: url("../img/finKids\ Bg\ 1.png");
    color: var(--cinza);
         
}